{% extends 'HealthAdvisorBundle:Default:index.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    <div class="col-sm-6 container mt-80">
        <div class="row">
            <div class="col-sm-12">
                        <div class="col-sm-12">
                            <h2 class="text-center">Regime Jeune</h2>
                            <hr class="hr-1">
                        </div>
                        <div class="col-sm-12">
                            <h3>
                                <p>
                                Durant ce regime vous pourrez continuer avec votre regime alimentaire
                                quotidient mais vous devez jeuner pendant 16h et manger tout ce que vous voulez
                                durant les 8h restant
                                </p>
                            </h3>
                            <button class="btn btn-default" type="button" id="starTimer"><li class="fa  fa-hourglass"></li>commencer</button>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <div class="counter-box-2">
                                <span class="fact-count" data-from="0" data-to="16" data-speed="1000" id="heure">16</span>
                                <h4 class="heading">Heure</h4>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="counter-box-2">
                                <span class="fact-count" data-from="0" data-to="0" data-speed="3000" id="minute">0</span>
                                <h4 class="heading">Minute</h4>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="counter-box-2">
                                <span class="fact-count" data-from="0" data-to="0" data-speed="3000" id="seconde">0</span>
                                <h4 class="heading">Seconde</h4>
                            </div>
                        </div>

                    </div>

            <div class="col-sm-8 col-sm-offset-2">

            </div>
            <form action="{{ path('supprimer_Regime', {'nomRegime': 'regime dissocie'}) }}">
                <button class="btn btn-danger" id="suivreRegime" type="submit"><i class="fa fa-remove"></i>Ne plus suivre ce regime</button>
            </form>
        </div>
    </div>
    {{dump( app.session.get('timer')) }}
    <div class="col-sm-6 container mt-80">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="heading text-center">Les Sports</h2>
                <hr class="hr-1">
            </div>
            <div class="col-sm-8 col-sm-offset-2">
                {% if sports is null %}
                    <div class="form-group">
                        <h2 class="heading text-center">Vous navez selectionner aucun sports</h2>
                    </div>

                {% else %}
                    <div class="form-group">
                        <select class="" tabindex="-98" id="choixSport">
                            <option value="aucun">quel sport voudrai vous faire aujourdhui</option>
                            {% for keySport,sport in sports %}
                                <option value="{{ sport.lienSport }}"> {{ keySport }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <iframe id="sport" width="425" height="300"
                            src="">
                    </iframe>
                {% endif %}

            </div>
        </div>
    </div>

    <!-- JQuery Version 3.1.0 -->
    <script src="{{asset('js/jquery.min.js') }}" type="text/javascript"></script>

    <!-- Bootstrap Version 3.3.7 -->
    <script src="{{ asset('js/bootstrap.min.js')}}" type="text/javascript"></script>

    <!-- Count To JS -->
    <script src="{{ asset('js/jquery.countTo.js') }}" type="text/javascript"></script>

    <!-- Appear JS -->
    <script src="{{asset('js/jquery.appear.js')}}" type="text/javascript"></script>

    <!-- Owl Carousel 2.0.0 -->
    <script src="{{ asset('js/owl.carousel.min.js') }}" type="text/javascript"></script>

    <!-- BootStrap select -->
    <script src="{{ asset('js/bootstrap-select.min.js') }}" type="text/javascript"></script>

    <!-- Custom JS -->
    <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/biennetre.js') }}"></script>
    <script>
        $(function () {
            var x;
            $("#choixSport").change(function () {
                var sport = $("#choixSport").val();
                if(sport!=="aucun")
                {
                    console.log( $("#sport").attr("src",$("#choixSport").val()));
                }
            });
            $("#starTimer").click(function () {
                var lauch = new Date();
                var now = new Date();
                var heure = $("#heure");
                var minute = $("#minute");
                var seconde = $("#seconde");
                if($("#starTimer").text()=="arreter")
                {
                    clearInterval(x);
                    $(heure).attr("data-from","15");
                    $(heure).attr("data-to","16");
                    $(heure).text("16");
                    //
                    $(minute).attr("data-from","59");
                    $(minute).attr("data-to","0");
                    $(minute).text("0");
                    //
                    $(seconde).attr("data-from","59");
                    $(seconde).attr("data-to","0");
                    $(seconde).text("0");
                    $("#starTimer").removeClass('btn-danger').addClass('btn-default').html('<li class="fa  fa-hourglass"></li>commencer</button>');
                }
                else {

                    //lauch.setHours(lauch.getHours()+16);
                    //lauch.setMinutes(lauch.getMinutes());
                    lauch.setSeconds(lauch.getSeconds() + 25);
                    var countDownDate = lauch.getTime();
                    x = setInterval(function () {

                        var now = new Date().getTime();
                        //var distance = countDownDate - now;
                        var distance = countDownDate - now;
                        /* var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                         var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                         var seconds = Math.floor((distance % (1000 * 60)) / 1000);*/
                        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                        //
                        $(heure).attr("data-from", hours - 1);
                        $(heure).attr("data-to", hours);
                        $(heure).text(hours);
                        //
                        $(minute).attr("data-from", minutes - 1);
                        $(minute).attr("data-to", minutes);
                        $(minute).text(minutes);
                        //
                        $(seconde).attr("data-from", seconds - 1);
                        $(seconde).attr("data-to", seconds);
                        $(seconde).text(seconds);

                        $("#starTimer").removeClass('btn-default').addClass('btn-danger').text("arreter");
                        if (distance < 0) {
                            clearInterval(x);
                            $(heure).attr("data-from","15");
                            $(heure).attr("data-to","16");
                            $(heure).text("16");
                            //
                            $(minute).attr("data-from","59");
                            $(minute).attr("data-to","0");
                            $(minute).text("0");
                            //
                            $(seconde).attr("data-from","59");
                            $(seconde).attr("data-to","0");
                            $(seconde).text("0");
                        }
                    }, 1000);
                }
            });

        });
    </script>
{% endblock %}
