{% extends 'HealthAdvisorBundle:Default:index.html.twig' %}
{% block head %}
    {{ parent() }}
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #street-view {
            height: 60%;
        }
    </style>
{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    <div class="page-header">
        <div class="container">
            <h1>Trouver Votre Medecin</h1>
            <ul class="breadcrumb">
                <li><a href="{{ path('health_advisor_homepage') }}">Home</a></li>
                <li class="active">RechercherMedecin</li>
            </ul>
        </div>
    </div>

    <div class="container mt-80">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading-block">
                    <h2 class="heading">Nos <span class="color1">Médecins</span> Spécialisés</h2>
                    <p class="sub-heading">Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                </div>
            </div>
            {% for medecin in medecins %}
            <div class="col-sm-12">

                <div class="col-sm-5">
                    <div class="doctor-box-2">

                        <div class="doctor-img">
                            <img src="{{ asset('images/doctor-small-1.jpg') }}" class="img-circle" alt="">
                        </div>
                        <div class="doctor-name">
                            <h4 class="heading">Mr. {{ medecin.login.cinUser.nom}}  {{ medecin.login.cinUser.prenom}}</h4>
                            <span class="doctor-desig">{{ medecin.specialite }}</span>
                        </div>
                        <hr class="hr-1">
                        <div class="doctor-details">
                            <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                        </div>
                        <br>
                        <div class="text-center">
                            <a href="{{ path('rendezvous_new',{'login':medecin.login.login}) }}" class="btn btn-primary btn-sm">Prendre RDV</a>
                            <a href="{{ path('medecin_details',{'login':medecin.login.login}) }}" class="btn btn-black btn-sm">Profile</a>
                        </div>
                    </div>
                </div>
                <br><br><br><br>
                <div class="row">
                <div class="col-sm-5">
                    <div id="street-view"></div>
                </div>
                </div>
                </div>
            {% endfor %}


        </div>
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}
    {% block script %}
        {{ parent() }}
    {% endblock %}

    <script>
            var panorama;
            function initialize() {
                panorama = new google.maps.StreetViewPanorama(
                    document.getElementById('street-view'),
                    {
                        position: {lat: 37.869260, lng: -122.254811},
                        pov: {heading: 165, pitch: 0},
                        zoom: 1
                    });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJkdBg93f7XLLxfR67gme9X03EBhRuWkw&callback=initialize">
        </script>
{% endblock %}
