{% extends 'base.html.twig' %}

{% block body %}
    <h1>Aliments list</h1>

    <table>
        <thead>
            <tr>
                <th>Nomaliment</th>
                <th>Quantite</th>
                <th>Valeurenergetique</th>
                <th>Typealiment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for aliment in aliments %}
            <tr>
                <td><a href="{{ path('admin_show', { 'nomAliment': aliment.nomAliment }) }}">{{ aliment.nomAliment }}</a></td>
                <td>{{ aliment.quantite }}</td>
                <td>{{ aliment.valeurEnergetique }}</td>
                <td>{{ aliment.typeAliment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_show', { 'nomAliment': aliment.nomAliment }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_edit', { 'nomAliment': aliment.nomAliment }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_new') }}">Create a new aliment</a>
        </li>
    </ul>
{% endblock %}
