{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ utilisateur.cin }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Datenaiss</th>
                <td>{% if utilisateur.dateNaiss %}{{ utilisateur.dateNaiss|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ utilisateur.sexe }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ utilisateur.pays }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ utilisateur.ville }}</td>
            </tr>
            <tr>
                <th>Numtel</th>
                <td>{{ utilisateur.numTel }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('utilisateur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
