{% extends 'HealthAdvisorBundle:Default:index.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% block header %}
        {{ parent() }}

    {% endblock %}



    <div class="page-header">
        <div class="container">
            <h1>Posez votre question ici !</h1>
            <br>
            <ul class="breadcrumb">
                <li><a href="home-version-1.html">Home</a></li>
                <li class="active">Questions & Réponses</li>
            </ul>
        </div>
    </div>

    <div class="container mt-60 mb-80">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="heading text-center">Modifier votre question</h2>
                <hr class="hr-1">
            </div>
        </div>
    </div>




    <form action="" method="post">
        <div class="container mt-80">

            {{ form_start(edit_form) }}


            <div class="row">

                <div class="col-sm-12">

                    <div class="col-sm-3"></div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class = "form-group">
                            {{ form_widget(edit_form) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class = "form-group">
                                <h1 id="textTime" align="center"></h1>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class = "form-group">
                                <h6 id="text" align="center"></h6>
                            </div>
                        </div>
                    </div>


                        <div class="row" align="center">
                            <div class = "form-group">
                                 <button id="btn" class="btn btn-primary btn-sm" name="Publier question"><i class="fa fa-refresh"></i>Mettre à jour la question</button>
                            </div>
                        </div>


                </div>
            </div>


            {{ form_end(edit_form) }}

        </div>
    </form>







    {% block footer %}
        {{ parent() }}
    {% endblock %}


    {% block script %}
        {{ parent() }}
    {% endblock %}



    <script type="text/javascript">
        $(function () {

            var diff = {{ difference }};

            if (diff < 30){
                $('#textTime').hide();
                $('#btn').hide();
                $('#healthadvisorbundle_question_question').css('color','red');
                $('#healthadvisorbundle_question_question').css('border-color','red');
                $('#text').text('Votre question ne respecte pas les normes').append('<br/>').append("Il faut qu'elle soit chnagée et détaillée (30 caractères au moins)");
                $('#text').css('color','red');
                var val = $('#healthadvisorbundle_question_question').val();

                $('#healthadvisorbundle_question_question').keyup(function () {


                    if ($('#healthadvisorbundle_question_question').val().length < 30 || $('#healthadvisorbundle_question_question').val()==val){

                        $('#healthadvisorbundle_question_question').css('color','red');
                        $('#healthadvisorbundle_question_question').css('border-color','red');
                        $('#text').css('color','red');
                        $('#text').text('Votre question ne respecte pas les normes').append('<br/>').append("Il faut qu'elle soit chnagée et détaillée (30 caractères au moins)");
                        $('#btn').hide();

                    }


                    else {
                        $('#healthadvisorbundle_question_question').css('border-color','green');
                        $('#healthadvisorbundle_question_question').css('color','green');
                        $('#text').text('Vous pouvez mettre à jour votre question...');
                        $('#text').css('color','green');
                        $('#btn').show();

                    }


                });
            }else {
                $('#healthadvisorbundle_question_question').hide();
                $('#btn').hide();
                $('#textTime').css('color','red');
                $('#textTime').text('Vous ne pouvez plus modifier cette question car vous avez dépassez 30 secondes...');
            }





        });
    </script>






{% endblock %}