{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        #{section_id} .collection-product .product-details {

            background-color: #F7F8F9;

        }
    </style>
{% endblock %}


{% block header %}
    {{ parent() }}


{% endblock %}

{% block body %}
    {{ parent() }}

    <header class="page-header row" style="background-color: #F7F8F9">
        <div class="large-6 columns">
            <h1 class="title" data-default-text="Products">Products</h1>
        </div>
        <div class="large-6 columns text-right-large" style="background-color: #F7F8F9">
            <div class="separator margin-top-50 no-margin-bottom hide-for-large" aria-hidden="true"></div>
            <div class="sort-collection inline-block">
                <select class="sort-collection-by" data-sort-by="" id="sort">
                    <option value="">Sort</option>
                    <option value="manual">Name</option>
                    <option value="price-ascending">Price: Low to High</option>
                    <option value="price-descending">Price: High to Low</option>
                    <a href="">
                        <option value="title-ascending">A-Z</option>
                    </a>
                    <option value="title-descending">Z-A</option>
                    <option value="created-ascending">Oldest to Newest</option>
                    <option value="created-descending">Newest to Oldest</option>
                    <option value="best-selling">Best Selling</option>
                </select>
            </div>
            <div class="filter-collection inline-block">
                <select class="jump-menu" name="filter-collection-by-tag" id="filter-collection-by-tag">
                    <option value="">Filter</option>
                    <option value="/collections/all/bath">Bath</option>
                    <option value="/collections/all/exfoliating">Exfoliating</option>
                    <option value="/collections/all/gift-set">Gift Set</option>
                    <option value="/collections/all/on-sale">On Sale</option>
                    <option value="/collections/all/popular">Popular</option>
                    <option value="/collections/all/soap">Soap</option>
                    <option value="/collections/all/under-10">Under $10</option>
                </select>
            </div>
        </div>
    </header>
    <div class="separator no-margin-top margin-bottom" aria-hidden="true"></div>


    <div class="collection-products" style="background-color: #F7F8F9">
        <div class="small-item-grid-1 medium-item-grid-3 large-item-grid-4 row-spacing-150" style="background-color: #F7F8F9">
            {% set i=0 %}
            {% for produit in produits %}
                <article id="aloe-shower-scrub-moisture-set" class="item collection-product" style="margin-left: 20px;margin-right: 20px;margin-bottom: 30px">
                    <div class="image-container " style="max-width: 611px;" data-image-id="299953705" >
                        <a href="{{ path('produit_afficher',{'id':produit.idProduit}) }}" >
                            <div class="image-container-position" style="padding-top: 75%;">
                                <img class="lazyload " src="{{ produit.urlImage }}" data-image-id="299953705"  data-aspectratio="0.7478580171358629" data-sizes="auto" alt=""  >
                            </div>
                        </a>
                    </div>
                    <noscript>
                        <div class="text-center">
                            <img src="{{ produit.urlImage }}" alt="" />
                        </div>
                    </noscript>
                    <div class="product-details">
                        <div class="title-wrap">
                            <header>
                                <h3 class="title font-size-16">
                                    <a href="{{ path('produit_afficher',{'id':produit.idProduit}) }}" title="Aloe Shower, Scrub & Moisture Set">{{ produit.nom }}</a>
                                </h3>
                            </header>
                            <div class="vendor lht font-size-14">Ref: {{ produit.reference }}</div>
                            <input type="hidden" id="id" value="{{ produit.idProduit }}">
                        </div>
                        {% if produit.promotion == 0 %}
                            <div class="pricing lht">
                                <span class="from text-light font-size-14 hidden">from</span>
                                <span class="price sell-price font-size-14 fw-600 lht inline-block" data-price data-base-price="2900" >${{ produit.prixVente }}</span>
                            </div>
                        {% elseif produit.promotion > 0 %}
                            <div class="pricing lht">
                                <span class="from text-light font-size-14 hidden">from</span>
                                <span class="price sell-price font-size-14 fw-600 lht inline-block" data-price data-base-price="2900" >${{ produit.prixVente - ((produit.prixVente * produit.promotion)/100) }}</span>
                                <span class="price compare-at text-light font-size-14 fw-300 lht inline-block" data-price data-base-price="3900" >${{ produit.prixVente }}</span>
                            </div>
                        {% endif %}
                        <div class="actions">
                            <form method="post"  action="">
                                <a href="{{ path('passer_produit_modifier',{'id_produit':produit.idProduit}) }}">
                                <button class="add-to-cart button small" type="button" >Modifier</button>
                                </a>
                                <a href="{{ path('supprimer_produit',{'id_produit':produit.idProduit}) }}">
                                <button class="add-to-cart button small" type="button" >Supprimer</button>
                                </a>
                            </form>
                        </div>
                    </div>
                </article>
                {%   set i=i+1 %}
            {% endfor %}


        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('jquery-3.2.1.js')}}"></script>
    <script>
        function PasserProduit(id_produit) {
            var link='http://localhost'+'{{ path('passer_produit_modifier') }}';
            console.log('working');
            $.ajax({
                    type:"POST",
                    data:{'id_produit':id_produit},
                    url: link,
                    success:function (data) {
                        console.log(data);

                    }
                }
            );

        }


    </script>




{% endblock %}