{% extends '@HealthAdvisor/Admin_Template/index.html.twig' %}

{% block contenu %}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Responsive example <small>Users</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a href="#"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <p class="text-muted font-13 m-b-30">
                List de tous les rendez_vous
            </p>
            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Medecin </th>
                    <th>Patient</th>
                    <th>Date Rendez_Vous</th>
                    <th>Statut Rendez Vous</th>
                </tr>
                </thead>
                <tbody>
                {% for rdv in rendezvous %}
                <tr>
                    <td><strong>Dr </strong>{{ rdv.med.login.cinUser.nom |upper }}  {{ rdv.med.login.cinUser.prenom }} </td>
                    <td>{{ rdv.user.cinUser.nom |upper  }}  {{ rdv.user.cinUser.prenom  }} </td>
                    <td>{{ rdv.dateHeure|date }}</td>
                    {% if rdv.statut=='VALIDE' %}
                    <td> <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-check">
                            </i> Validé</button></td>
                    {% elseif rdv.statut=='ENCOURS' %}
                      <td>  <button type="button" class="btn btn-warning btn-xs"> <i class="fa fa-warning">
                            </i> En Cours </button></td>
                    {% else %}
                      <td>  <button type="button" class="btn btn-danger btn-xs"> <i class="fa fa-ban">
                            </i> ANNULE</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">

    <blockquote>
        <p>Nombre Des Rendez Vous Par Mois </p>
    </blockquote>
    <!-- start of user-activity-graph -->
        <div id="graph_bar" style="width:100%; height:280px;"></div></div>
    <!-- end of user-activity-graph -->

    <script>

        $(function() {
            var day_data = [{
                "period": "Jan",
                "Hours worked": 80
            }, {
                "period": "Feb",
                "Hours worked": 125
            }, {
                "period": "Mar",
                "Hours worked": 176
            }, {
                "period": "Apr",
                "Hours worked": 224
            }, {
                "period": "May",
                "Hours worked": 265
            }, {
                "period": "Jun",
                "Hours worked": 314
            }, {
                "period": "Jul",
                "Hours worked": 347
            }, {
                "period": "Aug",
                "Hours worked": 287
            }, {
                "period": "Sep",
                "Hours worked": 240
            }, {
                "period": "Oct",
                "Hours worked": 211
            }];
            Morris.Bar({
                element: 'graph_bar',
                data: day_data,
                xkey: 'period',
                hideHover: 'auto',
                barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
                ykeys: ['Hours worked', 'sorned'],
                labels: ['Hours worked', 'SORN'],
                xLabelAngle: 60
            });
        });
    </script>
</div>
{% endblock %}